@charset "utf-8";
.menu div{
    width: 150px;
    height: 32px;
    background: -webkit-linear-gradient(top, #333, #999, #000) repeat -x;
    background: -o-linear-gradient(top, #333, #999, #000) repeat -x;
    background: -ms-linear
}