@charset "utf-8";

/* Tiêu đề menu */
.menu div {
  width: 150px;
  height: 32px;
  /* gradient chuẩn CSS3 */
  background: linear-gradient(to bottom, #333, #999, #000);
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 32px; /* căn giữa theo chiều dọc */
  text-transform: uppercase;
}

/* Danh sách menu */
.menu ul {
  list-style: inside url("/Week 7/image/bullet.png");
  box-shadow: 5px 5px 10px #000;
  border: 1px solid #000;
  width: 148px;
  margin: 0;
  padding: 0;
}

/* Từng mục menu */
.menu li {
  padding: 5px;
  width: 138px;
  cursor: pointer;
  text-transform: capitalize;
}

/* Hiệu ứng hover */
.menu li:hover {
  background-color: #ff9;
  font-weight: bold;
  color: #f00;
}
